# Ignore all log files
**/*.log

# Ignore all database files
**/*.duckdb
**/*.db
**/*.sqlite
**/*.parquet
**/*.pkl
**/*.csv
**/*.npy
**/*.pt
**/*.json
**/*.*.wal

# Ignore all Jupyter Notebook files
**/*.ipynb

# Remain all .gitkeep files in the repository
!**/*.gitkeep

# Ignore python cache files
**/__pycache__/
*.pyc