data_raw/*


logs/*
!logs/.gitkeep

masks/*
!masks/.gitkeep

db/duckdb/*
!db/duckdb/.gitkeep

db/sqlite/*
!db/sqlite/.gitkeep

data_financial/*
data_output/*
data_homogenous/*

test/test_output/*
!test/test_output/.gitkeep

test/test_db/*
!test/test_db/.gitkeep

test/test_sql/*
!test/test_sql/.gitkeep

md/secret/*.md
!md/secret/.gitkeep